@model WebApp.Data.Candidate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Candidate List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <h3 style="text-align:center; font-weight:bold">Candidate</h3>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table id="myTable" class="table table-bordered changecolortored">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                                <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
                                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.FirstName)</td>
                                <td>@Html.DisplayFor(model => model.MiddleName)</td>
                                <td>@Html.DisplayFor(model => model.LastName)</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Gender)</th>
                                <th> @Html.DisplayNameFor(model => model.NativeLanguage)</th>
                                <th>@Html.DisplayNameFor(model => model.CountryOfResidence)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Gender)</td>
                                <td>@Html.DisplayFor(model => model.NativeLanguage)</td>
                                <td>@Html.DisplayFor(model => model.CountryOfResidence)</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Birthdate)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.LandLineNumber)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Birthdate)</td>
                                <td>@Html.DisplayFor(model => model.Email)</td>
                                <td>@Html.DisplayFor(model => model.LandLineNumber)</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MobileNumber)</th>
                                <th>@Html.DisplayNameFor(model => model.Address1)</th>
                                <th>@Html.DisplayNameFor(model => model.Address2)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.MobileNumber)</td>
                                <td>@Html.DisplayFor(model => model.Address1)</td>
                                <td>@Html.DisplayFor(model => model.Address2)</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
                                <th>@Html.DisplayNameFor(model => model.Town)</th>
                                <th>@Html.DisplayNameFor(model => model.Province)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.PostalCode)</td>
                                <td>@Html.DisplayFor(model => model.Town)</td>
                                <td>@Html.DisplayFor(model => model.Province)</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.PhotoIdType)</th>
                                <th>@Html.DisplayNameFor(model => model.PhotoIdNumber)</th>
                                <th>@Html.DisplayNameFor(model => model.PhotoIdDate)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.PhotoIdType)</td>
                                <td>@Html.DisplayFor(model => model.PhotoIdNumber)</td>
                                <td>@Html.DisplayFor(model => model.PhotoIdDate)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <button type="button" class="btn btn-info">@Html.ActionLink("Back to List", "Index")</button>
            </div>
         }
    </div>
</body>
</html>
